.grid-container {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr;
}

.grid-item-1 {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}

.grid-item-2 {
  display: none;
}

.grid-item-2 .home-profile {
  position: fixed;
}

@media screen and (min-width: 1000px) {
  .grid-item-2 {
    position: relative;
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1000px) {
  .grid-container {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
}
