.home-page {
  padding-top: 4.5rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
}

.grid-item-1 {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}

.grid-item-2 {
  display: none;
}

.grid-item-2 .home-profile {
  position: fixed;
}

@media screen and (min-width: 1000px) {
  .grid-item-2 {
    position: relative;
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1000px) {
  .grid-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
}

/* CHATPAGE */
.chat-page {
  padding-top: 4.5rem;
}

.chat-page__container {
  margin: 0 1rem 0 1rem;
  overflow-y: hidden;
  min-height: calc(100vh - 6rem);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px calc(100vh - 60px - 100px - 6rem) 100px;
  border-radius: 0.7rem;
  border: 1px solid #ddd;
}

@media screen and (min-width: 768px) {
  .chat-page__container {
    grid-template-columns: 2fr 3fr;
  }
}
@media screen and (min-width: 1000px) {
  .chat-page__container {
    grid-template-columns: 1fr 3fr;
  }
}

.sidebar {
  display: none;
}

@media screen and (min-width: 768px) {
  .sidebar {
    display: block;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    overflow-x: hidden;
  }
  .partner-info {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  .chats {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    overflow: auto;
  }
  .chat-input {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
}

.partner-info {
  border-bottom: 1px solid #ddd;
}

/* .partners {
  border: 1px;
}

.chats {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  overflow: auto;
}

.chat-input {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
} */

.spacer {
  height: 1rem;
}

/* PROFILE PAGE */
.profile-page__container {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.content {
  border: 1px solid #fff;
}
.middle {
  height: 200px;
  background-color: #fff;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: blue;
}

.footer-p {
  height: 100px;
  background-color: red;
}
