.chat-partner {
  cursor: pointer;
}

.bg-gray {
  background-color: rgb(230, 230, 230);
}

.bg-pink {
  background-color: rgba(212, 114, 180, 0.356);
}

.conversation:hover {
  background-color: rgb(230, 230, 230);
}

.chat-input:focus {
  outline: none;
}

.last-message {
  font-size: 0.9rem;
  color: gray;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 200px;
}
