.chat-partner {
  cursor: pointer;
}

.bg-pink {
  background-color: rgba(204, 45, 204, 0.233);
}

.chat-input {
  resize: none;
  border: none;
  width: 100%;
}

.chat-input:focus {
  outline: none;
}
