.chat-partner {
  cursor: pointer;
}

.bg-gray {
  background-color: rgb(230, 230, 230);
}

.bg-pink {
  background-color: rgba(212, 114, 180, 0.356);
}

.conversation:hover {
  background-color: rgba(230, 230, 230, 0.651);
}

.chat-input:focus {
  outline: none;
}

.last-message {
  font-size: 0.9rem;
  color: gray;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 200px;
}

.btn-toggle-conversation {
  display: block;
  border: none;
  height: 50px;
  width: 50px;
}

@media screen and (min-width: 768px) {
  .btn-toggle-conversation {
    display: none;
  }
}
