.myTextArea {
  border: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.myTextArea::-webkit-scrollbar {
  display: none;
}

.myTextArea:focus {
  outline: none;
}

.grid-item-3 {
  background-color: green;
}

.grid-item-4 {
  background-color: blue;
}
